In [101]:
import pandas as pd
import numpy as np

In [102]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [103]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [104]:
categorical_variables = ['Gender','Age','City_Category','Stay_In_Current_City_Years']
dummy_variables=pd.get_dummies(train[categorical_variables])
df_towork=pd.concat([dummy_variables,train],axis=1).drop(categorical_variables,axis=1)

In [105]:
#Since male and female are the only 2 genders in the data we can drop one of the variables
df_towork.drop('Gender_M',axis=1,inplace=True)

In [106]:
df_towork.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Gender_F                       550068 non-null  uint8
 1   Age_0-17                       550068 non-null  uint8
 2   Age_18-25                      550068 non-null  uint8
 3   Age_26-35                      550068 non-null  uint8
 4   Age_36-45                      550068 non-null  uint8
 5   Age_46-50                      550068 non-null  uint8
 6   Age_51-55                      550068 non-null  uint8
 7   Age_55+                        550068 non-null  uint8
 8   City_Category_A                550068 non-null  uint8
 9   City_Category_B                550068 non-null  uint8
 10  City_Category_C                550068 non-null  uint8
 11  Stay_In_Current_City_Years_0   550068 non-null  uint8
 12  Stay_In_Current_City_Years_1   550068 non-null  uint8
 13  Stay_In_Current_City_Years_2   550068 non-null  uint8
 14  Stay_In_Current_City_Years_3   550068 non-null  uint8
 15  Stay_In_Current_City_Years_4+  550068 non-null  uint8
 16  User_ID                        550068 non-null  int64
 17  Product_ID                     550068 non-null  object
 18  Occupation                     550068 non-null  int64
 19  Marital_Status                 550068 non-null  int64
 20  Product_Category_1             550068 non-null  int64
 21  Product_Category_2             376430 non-null  float64
 22  Product_Category_3             166821 non-null  float64
 23  Purchase                       550068 non-null  int64
dtypes: float64(2), int64(5), object(1), uint8(16)
memory usage: 42.0+ MB

In [107]:
df_towork=pd.concat([pd.get_dummies(train['Occupation'],prefix='Occupation_'),df_towork],axis=1).drop('Occupation',axis=1)

In [108]:
df_towork.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 44 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Occupation__0                  550068 non-null  uint8
 1   Occupation__1                  550068 non-null  uint8
 2   Occupation__2                  550068 non-null  uint8
 3   Occupation__3                  550068 non-null  uint8
 4   Occupation__4                  550068 non-null  uint8
 5   Occupation__5                  550068 non-null  uint8
 6   Occupation__6                  550068 non-null  uint8
 7   Occupation__7                  550068 non-null  uint8
 8   Occupation__8                  550068 non-null  uint8
 9   Occupation__9                  550068 non-null  uint8
 10  Occupation__10                 550068 non-null  uint8
 11  Occupation__11                 550068 non-null  uint8
 12  Occupation__12                 550068 non-null  uint8
 13  Occupation__13                 550068 non-null  uint8
 14  Occupation__14                 550068 non-null  uint8
 15  Occupation__15                 550068 non-null  uint8
 16  Occupation__16                 550068 non-null  uint8
 17  Occupation__17                 550068 non-null  uint8
 18  Occupation__18                 550068 non-null  uint8
 19  Occupation__19                 550068 non-null  uint8
 20  Occupation__20                 550068 non-null  uint8
 21  Gender_F                       550068 non-null  uint8
 22  Age_0-17                       550068 non-null  uint8
 23  Age_18-25                      550068 non-null  uint8
 24  Age_26-35                      550068 non-null  uint8
 25  Age_36-45                      550068 non-null  uint8
 26  Age_46-50                      550068 non-null  uint8
 27  Age_51-55                      550068 non-null  uint8
 28  Age_55+                        550068 non-null  uint8
 29  City_Category_A                550068 non-null  uint8
 30  City_Category_B                550068 non-null  uint8
 31  City_Category_C                550068 non-null  uint8
 32  Stay_In_Current_City_Years_0   550068 non-null  uint8
 33  Stay_In_Current_City_Years_1   550068 non-null  uint8
 34  Stay_In_Current_City_Years_2   550068 non-null  uint8
 35  Stay_In_Current_City_Years_3   550068 non-null  uint8
 36  Stay_In_Current_City_Years_4+  550068 non-null  uint8
 37  User_ID                        550068 non-null  int64
 38  Product_ID                     550068 non-null  object
 39  Marital_Status                 550068 non-null  int64
 40  Product_Category_1             550068 non-null  int64
 41  Product_Category_2             376430 non-null  float64
 42  Product_Category_3             166821 non-null  float64
 43  Purchase                       550068 non-null  int64
dtypes: float64(2), int64(4), object(1), uint8(37)
memory usage: 48.8+ MB

In [109]:
df_towork.head(4)

,Occupation__0,Occupation__1,Occupation__2,Occupation__3,Occupation__4,Occupation__5,Occupation__6,Occupation__7,Occupation__8,Occupation__9,...,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+,User_ID,Product_ID,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1000001,P00069042,0,3,NaN,NaN,8370
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1000001,P00248942,0,1,6.0,14.0,15200
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1000001,P00087842,0,12,NaN,NaN,1422
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1000001,P00085442,0,12,14.0,NaN,1057

In [110]:
df_towork['Product_Category_1'].value_counts().sort_index()

1     140378
2      23864
3      20213
4      11753
5     150933
6      20466
7       3721
8     113925
9        410
10      5125
11     24287
12      3947
13      5549
14      1523
15      6290
16      9828
17       578
18      3125
19      1603
20      2550
Name: Product_Category_1, dtype: int64

In [111]:
#there are 20 product categories
pd.get_dummies(df_towork['Product_Category_1'],prefix='Product_category_1')

,Product_category_1_1,Product_category_1_2,Product_category_1_3,Product_category_1_4,Product_category_1_5,Product_category_1_6,Product_category_1_7,Product_category_1_8,Product_category_1_9,Product_category_1_10,Product_category_1_11,Product_category_1_12,Product_category_1_13,Product_category_1_14,Product_category_1_15,Product_category_1_16,Product_category_1_17,Product_category_1_18,Product_category_1_19,Product_category_1_20
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
550064,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
550065,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
550066,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
550067,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [112]:
df_towork=pd.concat([pd.get_dummies(df_towork['Product_Category_1'],prefix='Product_category_1'),df_towork],axis=1).drop('Product_Category_1',axis=1)

In [113]:
df_towork.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 63 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Product_category_1_1           550068 non-null  uint8
 1   Product_category_1_2           550068 non-null  uint8
 2   Product_category_1_3           550068 non-null  uint8
 3   Product_category_1_4           550068 non-null  uint8
 4   Product_category_1_5           550068 non-null  uint8
 5   Product_category_1_6           550068 non-null  uint8
 6   Product_category_1_7           550068 non-null  uint8
 7   Product_category_1_8           550068 non-null  uint8
 8   Product_category_1_9           550068 non-null  uint8
 9   Product_category_1_10          550068 non-null  uint8
 10  Product_category_1_11          550068 non-null  uint8
 11  Product_category_1_12          550068 non-null  uint8
 12  Product_category_1_13          550068 non-null  uint8
 13  Product_category_1_14          550068 non-null  uint8
 14  Product_category_1_15          550068 non-null  uint8
 15  Product_category_1_16          550068 non-null  uint8
 16  Product_category_1_17          550068 non-null  uint8
 17  Product_category_1_18          550068 non-null  uint8
 18  Product_category_1_19          550068 non-null  uint8
 19  Product_category_1_20          550068 non-null  uint8
 20  Occupation__0                  550068 non-null  uint8
 21  Occupation__1                  550068 non-null  uint8
 22  Occupation__2                  550068 non-null  uint8
 23  Occupation__3                  550068 non-null  uint8
 24  Occupation__4                  550068 non-null  uint8
 25  Occupation__5                  550068 non-null  uint8
 26  Occupation__6                  550068 non-null  uint8
 27  Occupation__7                  550068 non-null  uint8
 28  Occupation__8                  550068 non-null  uint8
 29  Occupation__9                  550068 non-null  uint8
 30  Occupation__10                 550068 non-null  uint8
 31  Occupation__11                 550068 non-null  uint8
 32  Occupation__12                 550068 non-null  uint8
 33  Occupation__13                 550068 non-null  uint8
 34  Occupation__14                 550068 non-null  uint8
 35  Occupation__15                 550068 non-null  uint8
 36  Occupation__16                 550068 non-null  uint8
 37  Occupation__17                 550068 non-null  uint8
 38  Occupation__18                 550068 non-null  uint8
 39  Occupation__19                 550068 non-null  uint8
 40  Occupation__20                 550068 non-null  uint8
 41  Gender_F                       550068 non-null  uint8
 42  Age_0-17                       550068 non-null  uint8
 43  Age_18-25                      550068 non-null  uint8
 44  Age_26-35                      550068 non-null  uint8
 45  Age_36-45                      550068 non-null  uint8
 46  Age_46-50                      550068 non-null  uint8
 47  Age_51-55                      550068 non-null  uint8
 48  Age_55+                        550068 non-null  uint8
 49  City_Category_A                550068 non-null  uint8
 50  City_Category_B                550068 non-null  uint8
 51  City_Category_C                550068 non-null  uint8
 52  Stay_In_Current_City_Years_0   550068 non-null  uint8
 53  Stay_In_Current_City_Years_1   550068 non-null  uint8
 54  Stay_In_Current_City_Years_2   550068 non-null  uint8
 55  Stay_In_Current_City_Years_3   550068 non-null  uint8
 56  Stay_In_Current_City_Years_4+  550068 non-null  uint8
 57  User_ID                        550068 non-null  int64
 58  Product_ID                     550068 non-null  object
 59  Marital_Status                 550068 non-null  int64
 60  Product_Category_2             376430 non-null  float64
 61  Product_Category_3             166821 non-null  float64
 62  Purchase                       550068 non-null  int64
dtypes: float64(2), int64(3), object(1), uint8(57)
memory usage: 55.1+ MB

In [114]:
cat2=pd.get_dummies(df_towork['Product_Category_2'],prefix='Product_category_2')
cat3=pd.get_dummies(df_towork['Product_Category_3'],prefix='Product_category_3')

In [115]:
df_towork=pd.concat([df_towork,cat2,cat3],axis=1).drop(['Product_Category_2','Product_Category_3'],axis=1)

In [116]:
df_towork.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 93 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Product_category_1_1           550068 non-null  uint8
 1   Product_category_1_2           550068 non-null  uint8
 2   Product_category_1_3           550068 non-null  uint8
 3   Product_category_1_4           550068 non-null  uint8
 4   Product_category_1_5           550068 non-null  uint8
 5   Product_category_1_6           550068 non-null  uint8
 6   Product_category_1_7           550068 non-null  uint8
 7   Product_category_1_8           550068 non-null  uint8
 8   Product_category_1_9           550068 non-null  uint8
 9   Product_category_1_10          550068 non-null  uint8
 10  Product_category_1_11          550068 non-null  uint8
 11  Product_category_1_12          550068 non-null  uint8
 12  Product_category_1_13          550068 non-null  uint8
 13  Product_category_1_14          550068 non-null  uint8
 14  Product_category_1_15          550068 non-null  uint8
 15  Product_category_1_16          550068 non-null  uint8
 16  Product_category_1_17          550068 non-null  uint8
 17  Product_category_1_18          550068 non-null  uint8
 18  Product_category_1_19          550068 non-null  uint8
 19  Product_category_1_20          550068 non-null  uint8
 20  Occupation__0                  550068 non-null  uint8
 21  Occupation__1                  550068 non-null  uint8
 22  Occupation__2                  550068 non-null  uint8
 23  Occupation__3                  550068 non-null  uint8
 24  Occupation__4                  550068 non-null  uint8
 25  Occupation__5                  550068 non-null  uint8
 26  Occupation__6                  550068 non-null  uint8
 27  Occupation__7                  550068 non-null  uint8
 28  Occupation__8                  550068 non-null  uint8
 29  Occupation__9                  550068 non-null  uint8
 30  Occupation__10                 550068 non-null  uint8
 31  Occupation__11                 550068 non-null  uint8
 32  Occupation__12                 550068 non-null  uint8
 33  Occupation__13                 550068 non-null  uint8
 34  Occupation__14                 550068 non-null  uint8
 35  Occupation__15                 550068 non-null  uint8
 36  Occupation__16                 550068 non-null  uint8
 37  Occupation__17                 550068 non-null  uint8
 38  Occupation__18                 550068 non-null  uint8
 39  Occupation__19                 550068 non-null  uint8
 40  Occupation__20                 550068 non-null  uint8
 41  Gender_F                       550068 non-null  uint8
 42  Age_0-17                       550068 non-null  uint8
 43  Age_18-25                      550068 non-null  uint8
 44  Age_26-35                      550068 non-null  uint8
 45  Age_36-45                      550068 non-null  uint8
 46  Age_46-50                      550068 non-null  uint8
 47  Age_51-55                      550068 non-null  uint8
 48  Age_55+                        550068 non-null  uint8
 49  City_Category_A                550068 non-null  uint8
 50  City_Category_B                550068 non-null  uint8
 51  City_Category_C                550068 non-null  uint8
 52  Stay_In_Current_City_Years_0   550068 non-null  uint8
 53  Stay_In_Current_City_Years_1   550068 non-null  uint8
 54  Stay_In_Current_City_Years_2   550068 non-null  uint8
 55  Stay_In_Current_City_Years_3   550068 non-null  uint8
 56  Stay_In_Current_City_Years_4+  550068 non-null  uint8
 57  User_ID                        550068 non-null  int64
 58  Product_ID                     550068 non-null  object
 59  Marital_Status                 550068 non-null  int64
 60  Purchase                       550068 non-null  int64
 61  Product_category_2_2.0         550068 non-null  uint8
 62  Product_category_2_3.0         550068 non-null  uint8
 63  Product_category_2_4.0         550068 non-null  uint8
 64  Product_category_2_5.0         550068 non-null  uint8
 65  Product_category_2_6.0         550068 non-null  uint8
 66  Product_category_2_7.0         550068 non-null  uint8
 67  Product_category_2_8.0         550068 non-null  uint8
 68  Product_category_2_9.0         550068 non-null  uint8
 69  Product_category_2_10.0        550068 non-null  uint8
 70  Product_category_2_11.0        550068 non-null  uint8
 71  Product_category_2_12.0        550068 non-null  uint8
 72  Product_category_2_13.0        550068 non-null  uint8
 73  Product_category_2_14.0        550068 non-null  uint8
 74  Product_category_2_15.0        550068 non-null  uint8
 75  Product_category_2_16.0        550068 non-null  uint8
 76  Product_category_2_17.0        550068 non-null  uint8
 77  Product_category_2_18.0        550068 non-null  uint8
 78  Product_category_3_3.0         550068 non-null  uint8
 79  Product_category_3_4.0         550068 non-null  uint8
 80  Product_category_3_5.0         550068 non-null  uint8
 81  Product_category_3_6.0         550068 non-null  uint8
 82  Product_category_3_8.0         550068 non-null  uint8
 83  Product_category_3_9.0         550068 non-null  uint8
 84  Product_category_3_10.0        550068 non-null  uint8
 85  Product_category_3_11.0        550068 non-null  uint8
 86  Product_category_3_12.0        550068 non-null  uint8
 87  Product_category_3_13.0        550068 non-null  uint8
 88  Product_category_3_14.0        550068 non-null  uint8
 89  Product_category_3_15.0        550068 non-null  uint8
 90  Product_category_3_16.0        550068 non-null  uint8
 91  Product_category_3_17.0        550068 non-null  uint8
 92  Product_category_3_18.0        550068 non-null  uint8
dtypes: int64(3), object(1), uint8(89)
memory usage: 63.5+ MB

In [118]:
#cols which are missing
df_towork['Product_category_2_1.0']=0
df_towork['Product_category_2_19.0']=0
df_towork['Product_category_2_20.0']=0
df_towork['Product_category_3_1.0']=0
df_towork['Product_category_3_2.0']=0
df_towork['Product_category_3_7.0']=0
df_towork['Product_category_3_19.0']=0
df_towork['Product_category_3_20.0']=0

In [120]:
df_towork['Prod_category1']=df_towork['Product_category_1_1'] |  df_towork['Product_category_2_1.0']  | df_towork['Product_category_3_1.0']
df_towork['Prod_category2']=df_towork['Product_category_1_2'] |  df_towork['Product_category_2_2.0']  |  df_towork['Product_category_3_2.0'] 
df_towork['Prod_category3']=df_towork['Product_category_1_3'] |  df_towork['Product_category_2_3.0']  |  df_towork['Product_category_3_3.0'] 
df_towork['Prod_category4']=df_towork['Product_category_1_4'] |  df_towork['Product_category_2_4.0']  | df_towork['Product_category_3_4.0'] 
df_towork['Prod_category5']=df_towork['Product_category_1_5'] |  df_towork['Product_category_2_5.0']  |  df_towork['Product_category_3_5.0'] 
df_towork['Prod_category6']=df_towork['Product_category_1_6'] |  df_towork['Product_category_2_6.0']  |  df_towork['Product_category_3_6.0'] 
df_towork['Prod_category7']=df_towork['Product_category_1_7'] |  df_towork['Product_category_2_7.0']  |  df_towork['Product_category_3_7.0'] 
df_towork['Prod_category8']=df_towork['Product_category_1_8'] |  df_towork['Product_category_2_8.0']  |  df_towork['Product_category_3_8.0'] 
df_towork['Prod_category9']=df_towork['Product_category_1_9'] |  df_towork['Product_category_2_9.0']  |  df_towork['Product_category_3_9.0'] 
df_towork['Prod_category10']=df_towork['Product_category_1_10'] |  df_towork['Product_category_2_10.0'] |  df_towork['Product_category_3_10.0'] 
df_towork['Prod_category11']=df_towork['Product_category_1_11'] |  df_towork['Product_category_2_11.0'] |  df_towork['Product_category_3_11.0'] 
df_towork['Prod_category12']=df_towork['Product_category_1_12'] |  df_towork['Product_category_2_12.0'] |  df_towork['Product_category_3_12.0'] 
df_towork['Prod_category13']=df_towork['Product_category_1_13'] |  df_towork['Product_category_2_13.0'] |  df_towork['Product_category_3_13.0'] 
df_towork['Prod_category14']=df_towork['Product_category_1_14'] |  df_towork['Product_category_2_14.0'] |  df_towork['Product_category_3_14.0'] 
df_towork['Prod_category15']=df_towork['Product_category_1_15'] |  df_towork['Product_category_2_15.0'] |  df_towork['Product_category_3_15.0'] 
df_towork['Prod_category16']=df_towork['Product_category_1_16'] |  df_towork['Product_category_2_16.0'] |  df_towork['Product_category_3_16.0'] 
df_towork['Prod_category17']=df_towork['Product_category_1_17'] |  df_towork['Product_category_2_17.0'] |  df_towork['Product_category_3_17.0'] 
df_towork['Prod_category18']=df_towork['Product_category_1_18'] |  df_towork['Product_category_2_18.0'] |  df_towork['Product_category_3_18.0'] 
df_towork['Prod_category19']=df_towork['Product_category_1_19'] |  df_towork['Product_category_2_19.0'] |  df_towork['Product_category_3_19.0'] 
df_towork['Prod_category20']=df_towork['Product_category_1_20'] |  df_towork['Product_category_2_20.0'] |  df_towork['Product_category_3_20.0']

In [121]:
cols_to_drop=['Product_category_1_1','Product_category_1_2','Product_category_1_3','Product_category_1_4','Product_category_1_5','Product_category_1_6','Product_category_1_7','Product_category_1_8','Product_category_1_9','Product_category_1_10','Product_category_1_11','Product_category_1_12','Product_category_1_13','Product_category_1_14','Product_category_1_15','Product_category_1_16','Product_category_1_17','Product_category_1_18','Product_category_1_19','Product_category_1_20','Product_category_2_1.0','Product_category_2_2.0','Product_category_2_3.0','Product_category_2_4.0','Product_category_2_5.0','Product_category_2_6.0','Product_category_2_7.0','Product_category_2_8.0','Product_category_2_9.0','Product_category_2_10.0','Product_category_2_11.0','Product_category_2_12.0','Product_category_2_13.0','Product_category_2_14.0','Product_category_2_15.0','Product_category_2_16.0','Product_category_2_17.0','Product_category_2_18.0','Product_category_2_19.0','Product_category_2_20.0','Product_category_3_1.0','Product_category_3_2.0','Product_category_3_3.0','Product_category_3_4.0','Product_category_3_5.0','Product_category_3_6.0','Product_category_3_7.0','Product_category_3_8.0','Product_category_3_9.0','Product_category_3_10.0','Product_category_3_11.0','Product_category_3_12.0','Product_category_3_13.0','Product_category_3_14.0','Product_category_3_15.0','Product_category_3_16.0','Product_category_3_17.0','Product_category_3_18.0','Product_category_3_19.0','Product_category_3_20.0']
df_train_final=df_towork.drop(cols_to_drop,axis=1)

In [122]:
df_train_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 61 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Occupation__0                  550068 non-null  uint8
 1   Occupation__1                  550068 non-null  uint8
 2   Occupation__2                  550068 non-null  uint8
 3   Occupation__3                  550068 non-null  uint8
 4   Occupation__4                  550068 non-null  uint8
 5   Occupation__5                  550068 non-null  uint8
 6   Occupation__6                  550068 non-null  uint8
 7   Occupation__7                  550068 non-null  uint8
 8   Occupation__8                  550068 non-null  uint8
 9   Occupation__9                  550068 non-null  uint8
 10  Occupation__10                 550068 non-null  uint8
 11  Occupation__11                 550068 non-null  uint8
 12  Occupation__12                 550068 non-null  uint8
 13  Occupation__13                 550068 non-null  uint8
 14  Occupation__14                 550068 non-null  uint8
 15  Occupation__15                 550068 non-null  uint8
 16  Occupation__16                 550068 non-null  uint8
 17  Occupation__17                 550068 non-null  uint8
 18  Occupation__18                 550068 non-null  uint8
 19  Occupation__19                 550068 non-null  uint8
 20  Occupation__20                 550068 non-null  uint8
 21  Gender_F                       550068 non-null  uint8
 22  Age_0-17                       550068 non-null  uint8
 23  Age_18-25                      550068 non-null  uint8
 24  Age_26-35                      550068 non-null  uint8
 25  Age_36-45                      550068 non-null  uint8
 26  Age_46-50                      550068 non-null  uint8
 27  Age_51-55                      550068 non-null  uint8
 28  Age_55+                        550068 non-null  uint8
 29  City_Category_A                550068 non-null  uint8
 30  City_Category_B                550068 non-null  uint8
 31  City_Category_C                550068 non-null  uint8
 32  Stay_In_Current_City_Years_0   550068 non-null  uint8
 33  Stay_In_Current_City_Years_1   550068 non-null  uint8
 34  Stay_In_Current_City_Years_2   550068 non-null  uint8
 35  Stay_In_Current_City_Years_3   550068 non-null  uint8
 36  Stay_In_Current_City_Years_4+  550068 non-null  uint8
 37  User_ID                        550068 non-null  int64
 38  Product_ID                     550068 non-null  object
 39  Marital_Status                 550068 non-null  int64
 40  Purchase                       550068 non-null  int64
 41  Prod_category1                 550068 non-null  int64
 42  Prod_category2                 550068 non-null  int64
 43  Prod_category3                 550068 non-null  uint8
 44  Prod_category4                 550068 non-null  uint8
 45  Prod_category5                 550068 non-null  uint8
 46  Prod_category6                 550068 non-null  uint8
 47  Prod_category7                 550068 non-null  int64
 48  Prod_category8                 550068 non-null  uint8
 49  Prod_category9                 550068 non-null  uint8
 50  Prod_category10                550068 non-null  uint8
 51  Prod_category11                550068 non-null  uint8
 52  Prod_category12                550068 non-null  uint8
 53  Prod_category13                550068 non-null  uint8
 54  Prod_category14                550068 non-null  uint8
 55  Prod_category15                550068 non-null  uint8
 56  Prod_category16                550068 non-null  uint8
 57  Prod_category17                550068 non-null  uint8
 58  Prod_category18                550068 non-null  uint8
 59  Prod_category19                550068 non-null  int64
 60  Prod_category20                550068 non-null  int64
dtypes: int64(8), object(1), uint8(52)
memory usage: 65.0+ MB

In [123]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.model_selection import KFold
#Combining steps above to encapsulate it in a single function
def train_and_test(df,k=0):
    #features
    features=df.select_dtypes(include=('int64','uint8')).drop(['Purchase'],axis=1).columns
    
    if k==0:
        train=df[:440055]
        test=df[440055:]
        lr = linear_model.LinearRegression()
        lr.fit(train[features],train['Purchase'])
        predict=lr.predict(test[features])
        mse=mean_squared_error(predict,test['Purchase'])
        rmse=np.sqrt(mse)
        return rmse
    
    if k==1:
        df_shuffle = df.sample(frac=1,)
        fold_one=df_shuffle[:440055]
        fold_two=df_shuffle[440055:]
        lr = linear_model.LinearRegression()
        
        lr.fit(fold_one[features],fold_one['Purchase'])
        predict_one=lr.predict(fold_two[features])
        mse_one=mean_squared_error(predict_one,fold_two['Purchase'])
        rmse_one=np.sqrt(mse_one)
        
        lr = linear_model.LinearRegression()
        lr.fit(fold_two[features],fold_two['Purchase'])
        predict_two=lr.predict(fold_one[features])
        mse_two=mean_squared_error(predict_two,fold_one['Purchase'])
        rmse_two=np.sqrt(mse_two)
        
        avg_rmse=np.mean([rmse_one,rmse_two])
        
        return avg_rmse
        
    else:
        kf = KFold(n_splits=k, shuffle=True)
        rmse_vals=[]
        for train_index,test_index, in kf.split(df):
            train=df.iloc[train_index]
            test=df.iloc[test_index]
            lr = linear_model.LinearRegression()
            lr.fit(train[features],train['Purchase'])       
            predict=lr.predict(test[features])
            mse=mean_squared_error(predict,test['Purchase'])
            rmse=np.sqrt(mse)
            rmse_vals.append(rmse)
        avg_rmse=np.mean(rmse_vals)
        return avg_rmse

In [124]:
train_and_test(df_train_final,10)

3621.598960934049

In [125]:
categorical_variables = ['Gender','Age','City_Category','Stay_In_Current_City_Years']
dummy_variables=pd.get_dummies(test[categorical_variables])
df_test=pd.concat([dummy_variables,test],axis=1).drop(categorical_variables,axis=1)
df_test.drop('Gender_M',axis=1,inplace=True)

In [126]:
df_test=pd.concat([pd.get_dummies(test['Occupation'],prefix='Occupation_'),df_test],axis=1).drop('Occupation',axis=1)
df_test=pd.concat([pd.get_dummies(df_test['Product_Category_1'],prefix='Product_category_1'),df_test],axis=1).drop('Product_Category_1',axis=1)
cat2=pd.get_dummies(df_test['Product_Category_2'],prefix='Product_category_2')
cat3=pd.get_dummies(df_test['Product_Category_3'],prefix='Product_category_3')
df_test=pd.concat([df_test,cat2,cat3],axis=1).drop(['Product_Category_2','Product_Category_3'],axis=1)

In [127]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 90 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Product_category_1_1           233599 non-null  uint8
 1   Product_category_1_2           233599 non-null  uint8
 2   Product_category_1_3           233599 non-null  uint8
 3   Product_category_1_4           233599 non-null  uint8
 4   Product_category_1_5           233599 non-null  uint8
 5   Product_category_1_6           233599 non-null  uint8
 6   Product_category_1_7           233599 non-null  uint8
 7   Product_category_1_8           233599 non-null  uint8
 8   Product_category_1_9           233599 non-null  uint8
 9   Product_category_1_10          233599 non-null  uint8
 10  Product_category_1_11          233599 non-null  uint8
 11  Product_category_1_12          233599 non-null  uint8
 12  Product_category_1_13          233599 non-null  uint8
 13  Product_category_1_14          233599 non-null  uint8
 14  Product_category_1_15          233599 non-null  uint8
 15  Product_category_1_16          233599 non-null  uint8
 16  Product_category_1_17          233599 non-null  uint8
 17  Product_category_1_18          233599 non-null  uint8
 18  Occupation__0                  233599 non-null  uint8
 19  Occupation__1                  233599 non-null  uint8
 20  Occupation__2                  233599 non-null  uint8
 21  Occupation__3                  233599 non-null  uint8
 22  Occupation__4                  233599 non-null  uint8
 23  Occupation__5                  233599 non-null  uint8
 24  Occupation__6                  233599 non-null  uint8
 25  Occupation__7                  233599 non-null  uint8
 26  Occupation__8                  233599 non-null  uint8
 27  Occupation__9                  233599 non-null  uint8
 28  Occupation__10                 233599 non-null  uint8
 29  Occupation__11                 233599 non-null  uint8
 30  Occupation__12                 233599 non-null  uint8
 31  Occupation__13                 233599 non-null  uint8
 32  Occupation__14                 233599 non-null  uint8
 33  Occupation__15                 233599 non-null  uint8
 34  Occupation__16                 233599 non-null  uint8
 35  Occupation__17                 233599 non-null  uint8
 36  Occupation__18                 233599 non-null  uint8
 37  Occupation__19                 233599 non-null  uint8
 38  Occupation__20                 233599 non-null  uint8
 39  Gender_F                       233599 non-null  uint8
 40  Age_0-17                       233599 non-null  uint8
 41  Age_18-25                      233599 non-null  uint8
 42  Age_26-35                      233599 non-null  uint8
 43  Age_36-45                      233599 non-null  uint8
 44  Age_46-50                      233599 non-null  uint8
 45  Age_51-55                      233599 non-null  uint8
 46  Age_55+                        233599 non-null  uint8
 47  City_Category_A                233599 non-null  uint8
 48  City_Category_B                233599 non-null  uint8
 49  City_Category_C                233599 non-null  uint8
 50  Stay_In_Current_City_Years_0   233599 non-null  uint8
 51  Stay_In_Current_City_Years_1   233599 non-null  uint8
 52  Stay_In_Current_City_Years_2   233599 non-null  uint8
 53  Stay_In_Current_City_Years_3   233599 non-null  uint8
 54  Stay_In_Current_City_Years_4+  233599 non-null  uint8
 55  User_ID                        233599 non-null  int64
 56  Product_ID                     233599 non-null  object
 57  Marital_Status                 233599 non-null  int64
 58  Product_category_2_2.0         233599 non-null  uint8
 59  Product_category_2_3.0         233599 non-null  uint8
 60  Product_category_2_4.0         233599 non-null  uint8
 61  Product_category_2_5.0         233599 non-null  uint8
 62  Product_category_2_6.0         233599 non-null  uint8
 63  Product_category_2_7.0         233599 non-null  uint8
 64  Product_category_2_8.0         233599 non-null  uint8
 65  Product_category_2_9.0         233599 non-null  uint8
 66  Product_category_2_10.0        233599 non-null  uint8
 67  Product_category_2_11.0        233599 non-null  uint8
 68  Product_category_2_12.0        233599 non-null  uint8
 69  Product_category_2_13.0        233599 non-null  uint8
 70  Product_category_2_14.0        233599 non-null  uint8
 71  Product_category_2_15.0        233599 non-null  uint8
 72  Product_category_2_16.0        233599 non-null  uint8
 73  Product_category_2_17.0        233599 non-null  uint8
 74  Product_category_2_18.0        233599 non-null  uint8
 75  Product_category_3_3.0         233599 non-null  uint8
 76  Product_category_3_4.0         233599 non-null  uint8
 77  Product_category_3_5.0         233599 non-null  uint8
 78  Product_category_3_6.0         233599 non-null  uint8
 79  Product_category_3_8.0         233599 non-null  uint8
 80  Product_category_3_9.0         233599 non-null  uint8
 81  Product_category_3_10.0        233599 non-null  uint8
 82  Product_category_3_11.0        233599 non-null  uint8
 83  Product_category_3_12.0        233599 non-null  uint8
 84  Product_category_3_13.0        233599 non-null  uint8
 85  Product_category_3_14.0        233599 non-null  uint8
 86  Product_category_3_15.0        233599 non-null  uint8
 87  Product_category_3_16.0        233599 non-null  uint8
 88  Product_category_3_17.0        233599 non-null  uint8
 89  Product_category_3_18.0        233599 non-null  uint8
dtypes: int64(2), object(1), uint8(87)
memory usage: 24.7+ MB

In [128]:
df_test['Product_category_1_19']=0
df_test['Product_category_1_20']=0
df_test['Product_category_2_1.0']=0
df_test['Product_category_2_19.0']=0
df_test['Product_category_2_20.0']=0
df_test['Product_category_3_1.0']=0
df_test['Product_category_3_2.0']=0
df_test['Product_category_3_7.0']=0
df_test['Product_category_3_19.0']=0
df_test['Product_category_3_20.0']=0

In [129]:
df_test['Prod_category1']=df_test['Product_category_1_1'] |  df_test['Product_category_2_1.0']  | df_test['Product_category_3_1.0']
df_test['Prod_category2']=df_test['Product_category_1_2'] |  df_test['Product_category_2_2.0']  |  df_test['Product_category_3_2.0'] 
df_test['Prod_category3']=df_test['Product_category_1_3'] |  df_test['Product_category_2_3.0']  |  df_test['Product_category_3_3.0'] 
df_test['Prod_category4']=df_test['Product_category_1_4'] |  df_test['Product_category_2_4.0']  | df_test['Product_category_3_4.0'] 
df_test['Prod_category5']=df_test['Product_category_1_5'] |  df_test['Product_category_2_5.0']  |  df_test['Product_category_3_5.0'] 
df_test['Prod_category6']=df_test['Product_category_1_6'] |  df_test['Product_category_2_6.0']  |  df_test['Product_category_3_6.0'] 
df_test['Prod_category7']=df_test['Product_category_1_7'] |  df_test['Product_category_2_7.0']  |  df_test['Product_category_3_7.0'] 
df_test['Prod_category8']=df_test['Product_category_1_8'] |  df_test['Product_category_2_8.0']  |  df_test['Product_category_3_8.0'] 
df_test['Prod_category9']=df_test['Product_category_1_9'] |  df_test['Product_category_2_9.0']  |  df_test['Product_category_3_9.0'] 
df_test['Prod_category10']=df_test['Product_category_1_10'] |  df_test['Product_category_2_10.0'] |  df_test['Product_category_3_10.0'] 
df_test['Prod_category11']=df_test['Product_category_1_11'] |  df_test['Product_category_2_11.0'] |  df_test['Product_category_3_11.0'] 
df_test['Prod_category12']=df_test['Product_category_1_12'] |  df_test['Product_category_2_12.0'] |  df_test['Product_category_3_12.0'] 
df_test['Prod_category13']=df_test['Product_category_1_13'] |  df_test['Product_category_2_13.0'] |  df_test['Product_category_3_13.0'] 
df_test['Prod_category14']=df_test['Product_category_1_14'] |  df_test['Product_category_2_14.0'] |  df_test['Product_category_3_14.0'] 
df_test['Prod_category15']=df_test['Product_category_1_15'] |  df_test['Product_category_2_15.0'] |  df_test['Product_category_3_15.0'] 
df_test['Prod_category16']=df_test['Product_category_1_16'] |  df_test['Product_category_2_16.0'] |  df_test['Product_category_3_16.0'] 
df_test['Prod_category17']=df_test['Product_category_1_17'] |  df_test['Product_category_2_17.0'] |  df_test['Product_category_3_17.0'] 
df_test['Prod_category18']=df_test['Product_category_1_18'] |  df_test['Product_category_2_18.0'] |  df_test['Product_category_3_18.0'] 
df_test['Prod_category19']=df_test['Product_category_1_19'] |  df_test['Product_category_2_19.0'] |  df_test['Product_category_3_19.0'] 
df_test['Prod_category20']=df_test['Product_category_1_20'] |  df_test['Product_category_2_20.0'] |  df_test['Product_category_3_20.0']

In [130]:
cols_to_drop=['Product_category_1_1','Product_category_1_2','Product_category_1_3','Product_category_1_4','Product_category_1_5','Product_category_1_6','Product_category_1_7','Product_category_1_8','Product_category_1_9','Product_category_1_10','Product_category_1_11','Product_category_1_12','Product_category_1_13','Product_category_1_14','Product_category_1_15','Product_category_1_16','Product_category_1_17','Product_category_1_18','Product_category_1_19','Product_category_1_20','Product_category_2_1.0','Product_category_2_2.0','Product_category_2_3.0','Product_category_2_4.0','Product_category_2_5.0','Product_category_2_6.0','Product_category_2_7.0','Product_category_2_8.0','Product_category_2_9.0','Product_category_2_10.0','Product_category_2_11.0','Product_category_2_12.0','Product_category_2_13.0','Product_category_2_14.0','Product_category_2_15.0','Product_category_2_16.0','Product_category_2_17.0','Product_category_2_18.0','Product_category_2_19.0','Product_category_2_20.0','Product_category_3_1.0','Product_category_3_2.0','Product_category_3_3.0','Product_category_3_4.0','Product_category_3_5.0','Product_category_3_6.0','Product_category_3_7.0','Product_category_3_8.0','Product_category_3_9.0','Product_category_3_10.0','Product_category_3_11.0','Product_category_3_12.0','Product_category_3_13.0','Product_category_3_14.0','Product_category_3_15.0','Product_category_3_16.0','Product_category_3_17.0','Product_category_3_18.0','Product_category_3_19.0','Product_category_3_20.0']
df_test_final=df_test.drop(cols_to_drop,axis=1)

In [131]:
df_test_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 60 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Occupation__0                  233599 non-null  uint8
 1   Occupation__1                  233599 non-null  uint8
 2   Occupation__2                  233599 non-null  uint8
 3   Occupation__3                  233599 non-null  uint8
 4   Occupation__4                  233599 non-null  uint8
 5   Occupation__5                  233599 non-null  uint8
 6   Occupation__6                  233599 non-null  uint8
 7   Occupation__7                  233599 non-null  uint8
 8   Occupation__8                  233599 non-null  uint8
 9   Occupation__9                  233599 non-null  uint8
 10  Occupation__10                 233599 non-null  uint8
 11  Occupation__11                 233599 non-null  uint8
 12  Occupation__12                 233599 non-null  uint8
 13  Occupation__13                 233599 non-null  uint8
 14  Occupation__14                 233599 non-null  uint8
 15  Occupation__15                 233599 non-null  uint8
 16  Occupation__16                 233599 non-null  uint8
 17  Occupation__17                 233599 non-null  uint8
 18  Occupation__18                 233599 non-null  uint8
 19  Occupation__19                 233599 non-null  uint8
 20  Occupation__20                 233599 non-null  uint8
 21  Gender_F                       233599 non-null  uint8
 22  Age_0-17                       233599 non-null  uint8
 23  Age_18-25                      233599 non-null  uint8
 24  Age_26-35                      233599 non-null  uint8
 25  Age_36-45                      233599 non-null  uint8
 26  Age_46-50                      233599 non-null  uint8
 27  Age_51-55                      233599 non-null  uint8
 28  Age_55+                        233599 non-null  uint8
 29  City_Category_A                233599 non-null  uint8
 30  City_Category_B                233599 non-null  uint8
 31  City_Category_C                233599 non-null  uint8
 32  Stay_In_Current_City_Years_0   233599 non-null  uint8
 33  Stay_In_Current_City_Years_1   233599 non-null  uint8
 34  Stay_In_Current_City_Years_2   233599 non-null  uint8
 35  Stay_In_Current_City_Years_3   233599 non-null  uint8
 36  Stay_In_Current_City_Years_4+  233599 non-null  uint8
 37  User_ID                        233599 non-null  int64
 38  Product_ID                     233599 non-null  object
 39  Marital_Status                 233599 non-null  int64
 40  Prod_category1                 233599 non-null  int64
 41  Prod_category2                 233599 non-null  int64
 42  Prod_category3                 233599 non-null  uint8
 43  Prod_category4                 233599 non-null  uint8
 44  Prod_category5                 233599 non-null  uint8
 45  Prod_category6                 233599 non-null  uint8
 46  Prod_category7                 233599 non-null  int64
 47  Prod_category8                 233599 non-null  uint8
 48  Prod_category9                 233599 non-null  uint8
 49  Prod_category10                233599 non-null  uint8
 50  Prod_category11                233599 non-null  uint8
 51  Prod_category12                233599 non-null  uint8
 52  Prod_category13                233599 non-null  uint8
 53  Prod_category14                233599 non-null  uint8
 54  Prod_category15                233599 non-null  uint8
 55  Prod_category16                233599 non-null  uint8
 56  Prod_category17                233599 non-null  uint8
 57  Prod_category18                233599 non-null  uint8
 58  Prod_category19                233599 non-null  int64
 59  Prod_category20                233599 non-null  int64
dtypes: int64(7), object(1), uint8(52)
memory usage: 25.8+ MB

In [132]:
features=df_train_final.select_dtypes(include=('int64','uint8')).drop(['Purchase'],axis=1).columns
lr = linear_model.LinearRegression()
lr.fit(df_train_final[features],df_train_final['Purchase'])       
predict=lr.predict(df_test_final[features])

In [98]:
submissions=pd.DataFrame({'Purchase':predict,'User_ID':df_test_final['User_ID'],'Product_ID':df_test_final['Product_ID']})
submissions.to_csv('submission_0328.csv',index=False)

In [100]:
if df_test['Product_category__2'] IS NULL:
    return 0
else:
    return 1

SyntaxError: invalid syntax (<ipython-input-100-1b8f63dde90d>, line 1)